* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Setting the body size */
body {
    margin: 0 auto;
    min-width: 300px;
    max-width: 900px;
}

/* Setup the todo container */
.todo-container{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ToDo items */
.all{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 1vh 0;
  padding: 0;
  height: auto;
  list-style-type: none;
  background: #eee;
  font-size: 1em;
  transition: 0.2s;
  align-items: center;
}
.all:nth-child(odd) {
  background: #f9f9f9;
}
.all:hover {
  background: #ddd;
}

/* Button formating */
button{
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 3em;
  width: 8em;
  cursor: pointer;

}

/* Completed Button Formatting */
.done-button {
  background-color: green;
  color: #fff;
  padding: 0;
  margin: 0;
}
.done-button:hover{
  background-color: darkgreen;
}
.crossed{
  text-decoration: line-through;
  color: white;
}
.completed{
  background-color: #2F2F2F;
}
.completed:nth-child(odd) {
  background: #2F2F2F;
}

/* Delete Button Fomratting */
.delete-button {
  color: white;
  background-color: darkred;
  padding: 0;
  margin: 0;
}
.delete-button:hover {
  background-color: red;
}

/* Style the header */
.header {
  background-color: #003b6f;
  padding: 30px 40px;
  color: white;
  text-align: center;
  margin-bottom: 1vh;
}
h2 {
  margin: .5em;
}

/* Style the input */
.inputsection{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003b6f;
}
input {
  margin: 0;
  padding: 1em;
  height: 3em;
  width: 75%;
  border: none;
  border-radius: 0;
  font-size: 1em;
  /*float: left;*/
}
  
/* Add Button Style */
.addBtn {
  display: flex;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 3em;
  border: none;
  border-radius: 0;
  font-size: 1em;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
    /*float: left;*/

  }
  .addBtn:hover {
    background-color: #bbb;
  }
  
  /* Filter Button Style */
  #btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  #btn:hover {
    background-color: #ddd;
  }
  #btn.active {
    background-color: #666;
    color: white;
  }

  .show {
    display: block;
  }